/DataSets/exdoc-code-sets-22-jan-2026
/DataSets/exdoc-code-sets-9-may-2025
obj
bin
/Core/ExlinkAPI/.vs/ExlinkAPI/FileContentIndex
/Core/ExlinkAPI/.vs/ExlinkAPI/CopilotIndices/17.14.1577.30250
/Core/ExlinkAPI/ExlinkAPI/obj
.vs
